{% extends 'blog/base.html' %}

{% block content %}

<h2>MZoe Evans CV</h2>
<h3>Location: Birmingham</h3>
<h3>Email: zoe010evans@gmail.com</h3>


<!-- **************** EDUCATION  ****************-->

<!-- Here we want the start date, end date, and detail -->

<div class="education">
	<div class="content-wrap">
		<h3>Education</h3>

		{%for section in section%}
			{% if section.section_type == 'education'%}

			<section class="education-item">
				<div class="education-dates">				
					{{ section.date_start}} 
					-
					{{ section.date_end }}
				</div>
				<div class="education-details">
					<p>{{ section.detail}}</p>
				</div>
			</section>
			{% endif %}
		{% endfor %}
	</div>
</div>





<!-- **************** PROJECTS ********************-->

<!-- Here we only want the main date and the detail -->


<div class="projects">
	<div class="content-wrap">
		<h3>Projects</h3>
		{%for section in section%}
			{% if section.section_type == 'project'%}
			<section class="project-item">
				<div class="project-dates">				
					{{ section.date_start}} 
				</div>
				<div class="project-details">
					<p>{{ section.detail}}</p>
				</div>
			</section>
			{% endif %}
		{% endfor %}
	</div>
</div>






<!-- *************** SKILLS *******************-->

<!-- Here we only want the list of skills, so just the detail -->

<div class="skills">
	<div class="content-wrap">
		<h3>Skills</h3>
		{%for section in section%}
		<ul class="skills-list">
			{% if section.section_type == 'skills'%}
				<li>{{ section.detail}}</li>
			{% endif %}
		</ul>
		{% endfor %}
	</div>
</div>



<!-- ************** WORK EXPERIENCE **************-->


<!-- Here we want the start date, end date, and TITLE --> 

<div class="work-experience">
	<div class="content-wrap">
		<h3>Work Experience</h3>
		{%for section in section%}
			{% if section.section_type == 'work'%}
				<section class="job-item">
					<div class="job-details">
						<h4>{{section.title}}</h4>
						{{ section.date_start}} 
						-
						{{ section.date_end }}
					</div>
					<div class="job-summary">
						<p>{{ section.detail}}</p>
					</div>
				</section>
			{% endif %}
		{% endfor %}
	</div>
</div>


{% endblock %}