{% extends 'blog/base.html' %}

{% block content %}

	<h2>MY CV! WOO!</h2>

	<h3>Education</h3>

	<p> Is stuff about education working? </p>

	{%for post in posts %}
		<div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>

	{%endfor%}		

	{%for education in educations%}
			<div class="education">
				
					{{ education.start_date }}
					{{ education.end_date }}
				
				<p>{{ education.text|linebreaksbr }}</p>
			</div>
	{% endfor %}

	<p>WHY</p>

	<h3>Projects</h3>
			{% if user.is_authenticated %}
				<a href="{% url 'projects_new' %}">Add Project</a>
			{% endif %}
		<h3>Skills</h3>
	<h3>Work Experience</h3>


{% endblock %}