
{% load static %}

<html> 
	<head>
		<title>Zoe's website</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">

	</head>
	<body> 
		<p> Hi there!</p>

		<p> HELLO! </p> 

{%for post in posts %}
		<div>
			<p>Published: {{ post.published_date}}</p>
			<h2><a href="">{{post.title}}</a></h2>
			<p>{{post.text|linebreaksbr}}</p>
		</div>	


{%endfor%}		

	</body>
</html>

